
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Jura:wght@300..700&display=swap');

#root {
  margin-left: 6%;
  margin-right: 6%;
  font-family: "Jura", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: '50px';

}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.titles{
  font-family: "Bungee Inline";
}
.normText {
  font-family: 'Jura';
  font-weight: 900;
}

Button{
  font-family: 'Bungee Inline';
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}